/* reset.css 설정 시작 */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root {
  isolation: isolate;
  width: 100dvw;
  height: 100dvh;
  background-color: #bcdbad;
  display: flex;
  align-items: center;
}
/* reset.css 설정 완료 */

/* 스크롤 바 관련 UI를 제거하는 속성 원하는 요소에 scroll-box 클래스를 부여하면 됨 */
.scroll-box {
  -ms-overflow-style: none;
}

.scroll-box::-webkit-scrollbar {
  display: none;
}
